/* Leaflet default style killer! */

.artist-popup .leaflet-popup-content-wrapper {
    background: transparent;
    box-shadow: none;
    border-radius: 0;
}

.artist-popup .leaflet-popup-tip-container {
    display: none;
}

.artist-popup .leaflet-popup-content {
    margin: 0;
    width: auto !important;
}

.leaflet-div-icon.custom-artist-marker {
  background: transparent;
  border: none;
}

.leaflet-div-icon.custom-cluster-marker {
  background: transparent;
  border: none;
  transition: opacity 0.2s ease-out;
}

.leaflet-marker-icon.expanded-cluster-marker {
  transition: transform 0.3s ease-out;
}

.leaflet-div-icon.cluster-center-marker {
  background: transparent;
  border: none;
}